/* Mengatur ukuran dasar font*/
html {
    font-size: 16px;
}

/* Mengatur jenis font, tinggi baris body, ukuran margin dan padding*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 15px;
    padding: 0;
}

/*Mengatur lebar maksimum container, margin, dan padding*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*Mengatur ukuran font header 1 dan memusatkan heading*/
h1 {
    font-size: 2rem;
    text-align: center;
}

/*Mengatur ukuran margin dan mengatur ukuran font*/
h3 {
    margin: 0;
    font-size: 1.2rem;
}

/*Mengatur elemen dalam main dan memberi jarak*/
main {
    display: flex;
    gap: 20px;
}

/*Mengatur aside secara umum*/
aside {
    margin: 15px 0;
    padding: 20px;
    border-radius: 12px;
    background-color: #f3c8c8;
    width: 100%;
}

@media (min-width: 768px) {
    aside {
        width: calc(50% - 30px);
    }
}

/*Pengaturan section*/
section {
    margin: 2px;
    padding: 4px;
}

/*Pengaturan paragraf*/
p {
    font-size: 0.875rem;
    font-weight: bold;
}

/*Pengaturan form*/
form {
    background-color: #a2b7fa;
    padding: 15px;
    border-radius: 8px;
    font-size: 0.875rem;
}

/*Pengaturan elemen div*/
div {
    font-size: 0.875rem;
    font-weight: bold;
}

/*Pengaturan inputan dengan tipe number*/
input[type=number] {
    width: 100%;
    max-width: 300px;
    height: 24px;
    border-radius: 8px;
    font-size: 0.875rem;
    padding: 0 8px;
}

/*Pengaturan hasil BMI*/
.hasil-bmi {
    padding: 15px;
    background-color: #283663;
    border-radius: 12px;
    color: #f0f3fe;
    text-align: center;
}

/*Pengaturan button*/
.button {
    font-size: 0.875rem;
    color: #f0f3fe;
    border-radius: 4px;
    padding: 12px;
    margin: 4px;
    cursor: pointer;
    border: none;
}

/*Pengaturan background button*/
.bg-blue {
    background-color: #283663;
}

/*Pengaturan background button*/
.bg-red {
    background-color: rgb(214, 45, 45);
}

/*Pengaturan button consult*/
.consult {
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 12px;
    margin: 4px;
    cursor: pointer;
    background-color: #283663;
    color: #f0f3fe;
    border: none;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .buttons {
        flex-direction: column;
    }
    
    .button {
        width: 100%;
        margin-bottom: 10px;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
}

/* Responsivitas tambahan */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}